

.header {
    background: $off-black;
    color: white;
    margin-bottom: $xl-size;
    padding: 1.6rem 0;
}

.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle {
    font-size: $m-size;
    margin: 0;
    font-size: 500;
    color: $off-white
}